/* body {
  background-color: aqua;
}
.Error-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.btn {
  text-decoration: none;
  background-color: rgb(65, 209, 209);
  padding: 3px 10px;
  border-radius: 4px;
}
.Error-main p {
  margin: 15px;
} */
